# 파이썬 기초
- 주피터 노트북 사용법
- 기본 변수, 묶음변수(리스트, 튜플, 딕셔너리)
- 특수 변수(range)
- in, enumerate
- 프로그램 흐름 (if, elif, else, for, break)

# Jupyter Notebook

- 개인 PC를 사용하는 경우  
  - PC에 아나콘다 설치
  - pip install tensorflow 실행(CPU 버전인 경우)
  - PC 검색창에서 anaconda prompt 실행 후 원하는 시작 폴더로 이동
  - jupyter notebook 실행
 
- 구글 클라우드 colab 사용  
  - colab.research.google.com 접속
  - 구글 계정에 가입해야 한다, 크롬 브라우저 사용
  - 스마트폰에서도 colab 접속 가능
- 예제는 github.com에서 다운로드 한다  
  - github.com 계정 가입 필요

## 주요 명령 단축키 (PC에서)

- 셀의 왼쪽 부분을 클릭하면 명령 입력 모드가 된다(셀이 파란색으로 바뀜). 명령 입력 모드에서 아래 단축키를 사용할 수 있다  

  - a  : 현재 셀 위에 셀 추가 (above)
  - b  : 현재 셀 아래에 셀 추가 (below)
  - x  : 현재 셀 삭제 (delete)
  - m  : 문서용 셀로 전환 (mark up)
  - y  : 코드용 셀로 전환
  - o  : 출력 보이기/안보이기 토글 (output)
  -  아래 셀과 합치기 shift + m (merge)
  -  셀을 둘로 나누기 ctrl + shift + '-'
  - h  : help


- **코랩에서는 명령어 입력 전에 (ctrl + m)을 먼저 입력해야 한다**

# 마크다운
- 이 셀은 마크다운 셀이다. 셀의 성격을 바꾸는 메뉴는 상단 Cell - Cell Type에 있다  

## 작은제목
### 더 작은 제목
- 쥬피터 노트북의 장점은 프로그램 코드 작성 셀과 함께 이렇게 문서를 편집하는 셀도 하나의 노트북내에서 같이 만들 수 있다는 것이다
  - 들여쓰기
 > 세부 내용은 이렇게 쓸 수 있다
- **강조하기**를 할 수 있고 *이탤릭체*를 쓸 수도 있다

## 셀 편집 방법
- 셀을 편집하려면 셀 내부를 더블 클릭한다 (셀이 초록색을 바뀐다)

## 셀 실행 방법
- 각 셀은 프로그램 코드 또는 문서(마크업 문서) 중 하나로 사용된다
- 셀을 Ctrl + Enter로 실행하면 셀 실행 후 커서가 현재의 셀에 남아 있는다
- 셀을 Shift + Enter 로 실행하면 셀 실행 후 **커서가 다음 셀로 이동**한다

## 셀 실행 번호 

- 코드 셀에서 In [2] 와 같이 숫자가 보이는데, 이는 이 셀이 실행된 순서를 나타내며 큰 의미는 없다. 노트북을 재실행하면 1번부터 다시 시작한다

## 목차 만들기(PC)
- colab을 사용하면 좌측에서 목차를 기본적으로 볼 수 있다
 - 목차는 마크다운에서 #, ##, ###, ... 등이 포함된 라인들로 작성된다
- PC에서 아나콘다를 사용하는 경우 쥬피터 노트북 좌측에 목차를 만들려면 아래 명령을 수행한 후 쥬피터 노트북을 재실행한다
 - 아래에서 '!'의 의미는 운영체제에 즉 컴퓨터에게 직접 명령을 수행하라는 의미이다

In [1]:
# !pip install jupyter_contrib_nbextensions && jupyter contrib nbextension install --user

- 쥬피터 노트북 최상단에 Nbextention 탭이 추가된 것이 보이면, 이를 선택한 후 Table of Contents(2) 활성화를 선택한다.
- 관련 블로그 https://junpyopark.github.io/Jupyter_Extension/

# 파이선 기본 문법

- 기본 변수 (단일 데이터 저장)
  - 정수(int), 부동소수(float), 문자열(strings), 불리언(bool)  
- 묶음 데이터 (복수 데이터 저장)
  - 리스트(list), 튜풀(tuple), 사전(dictionary) 
- 프로그램 흐름
  - if, else, for, break
- enumerate
  - 리스트에서 순서번호(인덱스)를 얻는 방법

# 기본 변수
## 숫자, 문자열, 불리언

- 숫자에는 정수(int)와 부동소수(float)가 있다
- 변수에 값을 배정(assign)할 때 "="를 사용한다

In [1]:
## 파이썬의 기본 변수 4가지

a = 3
b = 0.5
x = "김연아"
y = True
print(a,b,x,y)

3 0.5 김연아 True

In [2]:
## 문자열의 길이 보기 (length)

len(x)  # 3

3

In [3]:
## 정수, 소수, 불리언의 4칙 연산

print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a+b+y)

3.5
2.5
1.5
6.0
4.5

In [4]:
## 변수의 타입 확인하기

type(a), type(b), type(x), type(y)

(int, float, str, bool)

In [5]:
## 나눗셈 몫과 나머지, 승수

a = 7
b = 3

print(a//b)  # 2, 몫 구하기
print(a%b)   # 1, 나머지 
print(a**b)  # 232, 승수

2
1
343

## 문자열

In [7]:
## 문자열 붙이기

x = "오늘 날씨는 "
y = "좋으네요~~~ "
z = x + y
print(z)

오늘 날씨는 좋으네요~~~

In [8]:
## 문자열 반복하기

x + 3*y

'오늘 날씨는 좋으네요~~~ 좋으네요~~~ 좋으네요~~~ '

In [9]:
## 문자열 일부 보기 (인덱스를 사용한 슬라이싱)

x = "오늘 날씨는 "

print(len(x)) # 문자열 전체 글자수
print(x)       # 전체 보기
print(x[1])   # 두 번째(1) 글자
print(x[:3])  # 네 번재(3) 미만까지
print(x[3:6]) # 네 번째(3) 이상 ~ 7번째(6) 미만
print(x[-3])  # 뒤에서 세 번째(3) 글자
print(x[-3:]) # 뒤에서 세 번째(3) 이후

7
오늘 날씨는
늘
오늘
날씨는
씨
씨는

### 문자열 조작, split과 join
- 문자열을 공백, "/", "," 등 임의의 기호를 기준으로 나누거나(split) 합친다(join)
- 나누어진 항목은 리스트(list)에 저장된다 (리스트는 묶음 데이터를 나타내며 뒤에서 설명함)

In [1]:
## 문자열을 ','나 공백(스페이스) 등으로 나누기

name1 = '김연아,손흥민,이선희,유재석'

# ','로 나누기
z = name1.split(',')
print(z)

['김연아', '손흥민', '이선희', '유재석']

In [2]:
## 단어 합치기

';'.join(z)

'김연아;손흥민;이선희;유재석'

In [2]:
## 문자열을 "/"를 기준으로 나누고 순서를 바꾸어서 합치기

date = '12/31/2023'
z = date.split('/')
print(z)

['12', '31', '2023']

In [3]:
print(z[1])

31

In [5]:
new_date = "-".join((z[2], z[0], z[1]))
print(new_date)

2023-12-31

In [6]:
# 문자열 교체 (replace)

x = "오늘 날씨는 "
print(x.replace("날씨는", "기온은"))

오늘 기온은

### 문자열에 포맷( format) 사용하기
- 변수가 포함된 문자열을 만드는 방법
  - f"..." 사용

In [9]:
## 문자열 내에 변수 값을 포함하는 방법 (format)

x = 5
y = 90.5

print(f"틀린 갯수가 {x}개 이하이면 {y} 점입니다.")

틀린 갯수가 5개 이하이면 90.5 점입니다.

## 불리언
- 참과 거짓을 True, False로 표현
- 대소문자를 구분함

- ">", "<", "==", ">=","<=" 등의 비교연산을 사용하여 불리언 값을 얻는다

In [10]:
## 비교 연산의 결과는 논리형 값이다

x = 5
z = x < 1
print(z)

False

In [3]:
## 논리형 연산 결과는 논리형 값이다

a = True
b = False
print(a & b) # False
print(a | b) # True

False
True

### 불리언의 연산
- 불리언 변수가 연산에 사용되면 True는 1로, False는 0으로 자동으로 변환된다

In [12]:
print(a*10)
print(a+b)

10
1

# 묶음 데이터 
 - 숫자, 문자, 불리언 등 단변수들을 여러개 묶어 처리하는 방법
 - 리스트(list), 튜플(tuple), 사전(dictionary)

## 리스트
 - 파이썬에서 가장 널리 사용되는 데이터 조작용 "통"
 - 리스트를 구성하는 각 항목의 데이터 타입은 서로 달라도 된다
 - 리스트 항목으로 이미지나, 파일 전체를 담을 수도 있다

### 리스트 생성
 - 리스트를 만들려면 대괄호 "[ ]" 를 사용하고 각 항목을 ','로 구분한다
 - list() 함수로도 만들 수 있다

### 슬라이싱
- 리스트 내의 어떤 범위의 항목을 얻는다
- 범위를 지정하는 것을 인덱싱이라고 한다

In [13]:
## 리스트 생성과 일부 항목 얻기

a = 3
b = 90
small_list = [100,200]
x = [1,2,a,a*10,b,small_list,'김연아']

print(len(x)) # 리스트의 항목 수
print(x)       # 전체 항목 보기
print(x[1])   # 두 번째(1) 항목
print(x[:3])  # 네 번재(3) 미만까지
print(x[3:6]) # 네 번째(3) 이상 ~ 7번째(6) 미만
print(x[-3])  # 뒤에서 세 번째(3) 항목
print(x[-3:]) # 뒤에서 세 번째(3) 이후

7
[1, 2, 3, 30, 90, [100, 200], '김연아']
2
[1, 2, 3]
[30, 90, [100, 200]]
90
[90, [100, 200], '김연아']

### 항목 추가 : append()

In [16]:
## 리스트 맨 뒤에 항목 추가하기

print(x)
x.append('손흥민') # 맨 뒤에 추가된다
x

[1, 2, 3, 30, 90, [100, 200], '김연아', '손흥민', '손흥민', '손흥민']

[1, 2, 3, 30, 90, [100, 200], '김연아', '손흥민', '손흥민', '손흥민', '손흥민']

### in
- 어떤 항목이 리스트에 들어 있는지를 확인한다
- 결과는 True나 Flase를 얻는다

In [18]:
## 리스트에 포함된 항목 확인하기

x = [30,40,'김연아']
print(30 in x)
print('김연아' in x)
print(100 in x)

True
True
False

### 리스트 복제
- 리스트 전체를 반복 복제 하려면 "*"를 사용한다
- 리스트를 합치려면 "+"를 사용한다

In [19]:
## 리스트 복제 및 더하기

a = [0] # 항목이 0 하나인 리스트
b = [1] # 항목이 1 하나인 리스트
z = a*5 + b*5
z

[0, 0, 0, 0, 0, 1, 1, 1, 1, 1]

### 리스트 정렬, sorted
- 숫자 또는 알파벳순으로 정렬한다

In [20]:
## 리스트 순서 정렬하기

x = [2,1,3,5,4]
y = sorted(x)
z = sorted(x, reverse=True)
print(y)
print(z)

x = ['이선희', '김연아', '박세리']
y = sorted(x)
print(y)

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]
['김연아', '박세리', '이선희']

## 튜플 (tuple)
- 튜플도 리스트처럼 여러 항목을 담을 수 있는 변수
- 리스트와 달리 튜플의 내용은 '상수'로 취급되어 값을 바꿀 수 없다
- 읽기 전용 리스트인 셈이다
- 튜플을 사용하는 이유는 리스트보다 처리 속도가 빠르며 값을 안전하게 고정시키기 위해서이다
- 튜플도 슬라이싱이 가능하다
- 튜플을 만들려면 소괄호( )를 사용하여 만들거나 ( )  없이 "," 로 구분하여 나열한다

In [22]:
## 튜플 만들기, 복제, 합치기

tuple_a = (1, 2, 3)
tuple_b = 90,"good"
z = tuple_a*2 + tuple_b
print(z)
print(z[-2])
print(3 in z)
print(4 in z)

(1, 2, 3, 1, 2, 3, 90, 'good')
90
True
False

## 사전 (Dictionaries)
- 키-값 조합 형태의 데이터 묶음
- 간단한 데이터베이스처럼 사용된다
- 항목을 찾을 때 키를 사용한다
- 딕셔너리에서 저장된 순서는 의미가 없다
- 딕셔너리는 중괄호 {  } 로 만들거나 dict()로 만든다

In [13]:
## 딕셔너리 생성, 값변경, 항목 추가하기

student = {'grade': 3,'age': 21,'name': "kim"  }
print(student['grade'])
student['age'] = 28
student['address'] = 'Seoul'
print(student)

3
{'grade': 3, 'age': 28, 'name': 'kim', 'address': 'Seoul'}

In [24]:
## 딕셔너리의 키, 값, 항목 전체 출력하기

print(student.keys())
print(student.values())
print(student.items())

dict_keys(['grade', 'age', 'name', 'address'])
dict_values([3, 28, 'kim', 'Seoul'])
dict_items([('grade', 3), ('age', 28), ('name', 'kim'), ('address', 'Seoul')])

### in

In [25]:
## 딕셔너리에 특정 키가 존재하는지 확인하기

print("age" in student)
print("sex" in student)

True
False

## range

- 일정한 범위의 값들을 나타내는 특수 변수

In [22]:
## 특수 변수 range와 내용 보기

x = range(10)
print(x)
print(list(x))

y = range(2,20,3)
print(y)
print(list(y))

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
range(2, 20, 3)
[2, 5, 8, 11, 14, 17]



# 프로그램 흐름

## if
- if 문 다음이 True이면 ":" 이후 블록을 실행한다
- 블록은 들여쓰기가 같은 영역으로 구분한다
- else: 문을 사용할 수도 있다.
- if 뒤에는 불리언이 필요하다

In [14]:
## 기본적인 if, elif, else 사용법

x = 90

if x > 80:
    print("축하합니다~ 합격입니다")
    print("다음주부터 출근하시면 됩니다.")
elif x > 60:
    print("2차 면접시험 대상자 입니다.")
    print("시험 날짜를 알려드리겠습니다.")
else:
    print("불합격입니다.")

축하합니다~ 합격입니다
다음주부터 출근하시면 됩니다.

In [29]:
## for 문을 사용하여 채점 결과를 알려주는 코드

score = [50, 70, 90]
for x in score:
    print('----------------------')
    if x > 80:
        print("축하합니다~ 합격입니다")
        print("다음주부터 출근하시면 됩니다.")
    elif x > 60:
        print("2차 면접시험 대상자 입니다.")
        print("시험 날짜를 알려드리겠습니다.")
    else:
        print("불합격입니다.")

----------------------
불합격입니다.
----------------------
2차 면접시험 대상자 입니다.
시험 날짜를 알려드리겠습니다.
----------------------
축하합니다~ 합격입니다
다음주부터 출근하시면 됩니다.

## enumerate

In [30]:
## 리스트의 인덱스를 얻는 enumerate() 사용예

score = [50, 70, 90]

for i, x in enumerate([50, 70, 90]):
    print('----------------------')
    print(i+1, "번째 응시자님:")
    if x > 80:
        print("축하합니다~ 합격입니다")
        print("다음주부터 출근하시면 됩니다.")
    elif x > 60:
        print("2차 면접시험 대상자 입니다.")
        print("시험 날짜를 알려드리겠습니다.")
    else:
        print("불합격입니다.")

----------------------
1 번째 응시자님:
불합격입니다.
----------------------
2 번째 응시자님:
2차 면접시험 대상자 입니다.
시험 날짜를 알려드리겠습니다.
----------------------
3 번째 응시자님:
축하합니다~ 합격입니다
다음주부터 출근하시면 됩니다.

In [31]:
## enumerate 사용 예

names = ["kim", "park", "lee"]
print(list(enumerate(names)))

for i, name in enumerate(names):
    print(f"{i+1} 번째 사람 이름은 {name}입니다")

[(0, 'kim'), (1, 'park'), (2, 'lee')]
1 번째 사람 이름은 kim입니다
2 번째 사람 이름은 park입니다
3 번째 사람 이름은 lee입니다

## for
- 특정 조건이 만족되는 동안 ":" 이후의 블록을 수행
- 수행할 블록은 들여쓰기로 구분한다
- in과 같이 자주 사용된다

In [32]:
## 1~5 사이의 정수에 10을 곱하기

for i in range(1,6):
    print(i*10)

10
20
30
40
50

### 리스트 내에서 for 사용하기

In [33]:
## 리스트 선언문 내에서 for를 사용하는 방법

z = [i*10 for i in range(1,6)]
print(z)

[10, 20, 30, 40, 50]

In [34]:
## 문자열에 문자열 포함 확인하기

s = 'I am happy'
print('happy' in s)
print('hap' in s)

True
True

In [35]:
## 특정 문자열이 포함된 항목을 찾아서 리스트를 만들기

files = ['cat001', 'cat002', 'dog003', 'dog004']
match = 'cat'
new_list = [s for s in files if match in s]
print(new_list)

['cat001', 'cat002']

## break

- 특정 조건이 만족되면 for 문을 빠져나간다

In [24]:
for i in range(10):
    x = i*10
    if x > 70: break
    print(x)

0
10
20
30
40
50
60
70

# (실습) 구구단

- 구구단을 축력하는 프로그램을 작성하시오